<div class="container">
  <h3>Add a new skill to your list</h3>
  {{skills-card/choose-skill class="row choose-skills" levels=levels}}
  {{skills-card/skill-list class="row skill-list" userSkills=userSkills}}
</div>
