<div class="table-responsive-md">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Skills</th>
        {{#each dynamicHeaders as |header|}}
          <th scope="col">{{header.name}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each dynamicRows as |row|}}
        <tr>
        <th scope="col">{{row.name}}</th>
        {{#each dynamicHeaders as |header|}}
          <td><span>{{match-by-id value=header by='skill' in=row.userSkillLevels return="level"}}</span></td>
        {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
