<div class="table-responsive-md">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Skills</th>
        <th scope="col">Juan</th>
        <th scope="col">Danny</th>
        <th scope="col">Yorence</th>
        <th scope="col">William</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Javascript</th>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">AWS</th>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">Azure</th>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">C++</th>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
    </tbody>
  </table>
</div>
