<div class="col-sm-6 form-item search-bar">
  {{input type="text" class="form-control" value=query placeholder="Skill name" key-press=(action 'searchSkills')}}
  {{#if query}}
  <div class="search-results card">
    <p>Hello world</p>
  </div>
  {{/if}}
</div>
<div class="dropdown form-item col-sm-3">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{if chosenLevel chosenLevel.name 'Choose Level'}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#each levels as |level|}}
      <a class="dropdown-item" href="#" {{action (mut chosenLevel) level}}>{{level.name}}</a>
    {{/each}}
  </div>
</div>
<div class="col-sm-3 form-item">
  <button type="button" class="btn btn-success">Choose</button>
</div>
