{{input type="text" class="form-control form-item col-sm-6" value=query placeholder="Skill name"}}
<div class="dropdown form-item col-sm-3">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{if chosenLevel chosenLevel.name 'Choose Level'}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#each levels as |level|}}
      <a class="dropdown-item" href="#" {{action (mut chosenLevel) level}}>{{level.name}}</a>
    {{/each}}
  </div>
</div>
<div class="col-sm-3 form-item">
  <button type="button" class="btn btn-success">Choose</button>
</div>
