<ul class="list-group">
  {{#each userSkills as |skill|}}
    <li class="list-group-item">{{skill.name}}</li>
  {{else}}
    <p class="card card-body bg-light">You have no skills!</p>
  {{/each}}
</ul>
