.choose-skills {
  padding: 5px;
  margin-bottom: 20px;
  .form-item {
    z-index: 10;
    &.search-bar {
      position: relative;
      .search-results {
        width: calc(100% - 30px);
        height: 100px;
        position: absolute;
      }
    }
  }
}
