<div class="container everyone">
  <div class="row header">
    <div class="col">
      <h3>KR Tech Skill Matrix</h3>
    </div>
  </div>
  <div class="row">
    <main class="col">
      {{table-main}}
    </main>
  </div>
</div>


{{outlet}}
